.button {
  display: flex;
  height: 3em;
  align-items: center;
  justify-content: center;
  background-color: #a6a6a64b;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  // background: #fff;
}

.button:hover {
  box-shadow: 9px 9px 33px #4c4c4c, -9px -9px 33px #000000;
  transform: translateY(-2px);
}
